SPRING_PROFILES_ACTIVE=seeder
APP_SEEDER_ENABLED=true

# Estos variables son para perfile: seeder, dev
DEV_PORT=8667
DEV_DB_URL=jdbc:mysql://localhost:3306/sb-rhhub-app?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
DEV_DB_USER=root
DEV_DB_PASSWORD=

# Estos variables son para perfile: prod
PROD_PORT=8080
PROD_DB_URL=jdbc:mysql://localhost:3306/sb-rhhub-app?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
PROD_DB_USER=root
PROD_DB_PASSWORD=

APP_JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
APP_JWT_EXPIRATION_TIME=900000 # 15 minutos en milisegundos por defecto
APP_JWT_REFRESH_EXPIRATION_MS=2592000000  # 30 días en milisegundos por defecto

# Nombre de la cookie para el refresh token
APP_COOKIE_REFRESH_TOKEN_NAME=renovar_token
APP_COOKIE_REFRESH_TOKEN_MAXAGE=2592000 # 30 días en segundos por defecto
APP_COOKIE_REFRESH_TOKEN_HTTPONLY=true
APP_COOKIE_REFRESH_TOKEN_SECURE=true
APP_COOKIE_REFRESH_TOKEN_SAMESITE=Strict

# Definir CORS global para rutas específicas
APP_CORS_ALLOWED_ORIGINS=*
APP_CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE
APP_CORS_ALLOWED_HEADERS=*
APP_CORS_ALLOW_CREDENTIALS=true
APP_CORS_PATH_PATTERN=/**
